# root
node_modules/
.env
.env.local
.env.docker
docker/*.env
*.log

# backend
liveconnect-backend/node_modules/
liveconnect-backend/.env
liveconnect-backend/.env.*
liveconnect-backend/prisma/dev.db

# frontend
liveconnect-frontend/node_modules/
liveconnect-frontend/.env
liveconnect-frontend/.env.*
liveconnect-frontend/build/
